<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Products by Quantity</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div class="container">
        <h1>Search Products by Quantity</h1>
        <form th:action="@{/productsByQuantity}" th:object="${product}" method="post">
            <label>Quantity Threshold:</label>
            <input type="number" th:field="*{quantityInHand}" />
            <button type="submit" class="click">Search</button>
        </form>
        <a th:href="@{/index}">Home</a>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>
