<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editable Product List</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div class="container">
        <h1>Edit Product List</h1>
        <table>
            <tr>
                <th>Product Code</th>
                <th>Product Brand</th>
                <th>Quantity In Hand</th>
                <th>Unit Price</th>
                <th>Edit</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.productCode}"></td>
                <td th:text="${product.productBrand}"></td>
                <td th:text="${product.quantityInHand}"></td>
                <td th:text="${product.unitPrice}"></td>
                <td>
                    <a th:href="@{/editProduct/{id}(id=${product.id})}" class="click">Edit</a>
                </td>
            </tr>
        </table>
        <a th:href="@{/index}" class="home-button">Home</a>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>
